<h1>FTWINSTAGRAM</h1>

<h2>
  <% if @photos.any? %>
    <% @photos.all.reverse.each do |photo| %>
      <%= image_tag photo.image.url, {:width => "500", :height => "500"} %><br>
      <%= link_to "Like", photo_likes_path(photo), class: 'likes-link' %>
      <p>(<%= pluralize photo.likes.count, 'like' %>)</p>
      <%= photo.caption %><br>

        <% if photo.comments.any? %>
          <ul>
            C O M M E N T S : <% photo.comments.each do |comment| %>
              <li>
                # <%= comment.remark %><strong>
              </li>
            <% end %>
          </ul>
        <% else %>
        <% end %>

      <%= link_to "leave comment", new_photo_comment_path(photo) %><br><br><br>

    <% end %>
  <% else %>
    no photos!
  <% end %>


</h2>